.DS_Store
composer.lock
vendor/
node_modules/
.env
.env.local
.env.*.local
.idea/
.vscode/
*.log
*.cache
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.sql
*.sqlite
*.db
*.pem
*.key
*.crt
*.p12
*.cer
*.der
*.csr
*.jks
*.keystore
*.pfx
*.p7b
*.p7c
*.p7m
*.p7s
*.p7z